@if (isNewYearHolidaySeason) {
<app-snowflakes></app-snowflakes>
}

<app-header></app-header>

@if (isNewYearHolidaySeason) {
<section class="dark:text-gray-400 body-font dark:bg-gray-900 text-gray-600">
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center justify-center">
      <img
        class="h-80"
        src="/santa-claus-sleigh-animate.svg"
        alt="santa claus sleigh animate"
      />
    </div>
  </div>
</section>
}

<div [@routeTransition]="route.snapshot.data" style="display: contents">
  <router-outlet></router-outlet>
</div>

@if (isNewYearHolidaySeason) {
<section class="dark:text-gray-400 body-font dark:bg-gray-900 text-gray-600">
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center justify-center">
      <img
        class="h-80"
        src="/new-year-toast-animate.svg"
        alt="new year toast animate"
      />
    </div>
  </div>
</section>
}

<app-footer></app-footer>
