<header class="dark:text-gray-400 dark:bg-gray-900 text-gray-600 body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <a
      ariaCurrentWhenActive="page"
      routerLink="/"
      class="flex title-font font-medium items-center dark:text-white text-gray-900 mb-4 md:mb-0"
    >
      <app-logo></app-logo>
      <span class="ml-3 text-xl">Velimir Đurković</span>
    </a>
    @if (isDarkTheme()) {
    <a
      href="javascript:void(0)"
      class="flex title-font font-medium items-center dark:hover:text-white hover:text-gray-900 mb-4 mx-8 md:mb-0"
      title="Switch to light mode"
      (click)="setLight()"
    >
      <app-bulb></app-bulb>
    </a>
    } @else {
    <a
      href="javascript:void(0)"
      class="flex title-font font-medium items-center dark:hover:text-white hover:text-gray-900 mb-4 mx-8 md:mb-0"
      title="Switch to dark mode"
      (click)="setDark()"
    >
      <app-bulb></app-bulb>
    </a>
    }
    <nav
      class="md:ml-auto flex flex-wrap items-center text-base justify-center"
    >
      <a
        ariaCurrentWhenActive="page"
        routerLinkActive="active"
        routerLink="/portfolio"
        class="mr-5 dark:hover:text-white hover:text-gray-900"
        >Portfolio</a
      >
      <a
        ariaCurrentWhenActive="page"
        routerLinkActive="active"
        routerLink="/about"
        class="mr-5 dark:hover:text-white hover:text-gray-900"
        >About</a
      >
      <a
        ariaCurrentWhenActive="page"
        routerLinkActive="active"
        routerLink="/contact"
        class="mr-5 dark:hover:text-white hover:text-gray-900"
        >Contact</a
      >
    </nav>
  </div>
</header>
