<header class="dark:text-gray-400 dark:bg-gray-900 text-gray-600 body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <a
      ariaCurrentWhenActive="page"
      routerLink="/"
      class="flex title-font font-medium items-center dark:text-white text-gray-900 mb-4 md:mb-0"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-10 h-10 text-white p-2 bg-green-500 rounded-full"
        viewBox="0 0 24 24"
        width="40"
        height="40"
      >
        <path
          d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
        ></path>
      </svg>
      <span class="ml-3 text-xl">djvelimir.github.io</span>
    </a>
    <nav
      class="md:ml-auto flex flex-wrap items-center text-base justify-center"
    >
      <a
        ariaCurrentWhenActive="page"
        routerLinkActive="active"
        routerLink="/portfolio"
        class="mr-5 dark:hover:text-white hover:text-gray-900"
        >Portfolio</a
      >
      <a
        ariaCurrentWhenActive="page"
        routerLinkActive="active"
        routerLink="/about"
        class="mr-5 dark:hover:text-white hover:text-gray-900"
        >About</a
      >
      @if (isDarkTheme()) {
      <a
        href="javascript:void(0)"
        class="mr-5 dark:hover:text-white hover:text-gray-900"
        title="Switch to ligth mode"
        (click)="setLight()"
      >
        <img
          src="bulb-light-on.svg"
          alt="bulb light on"
          width="24"
          height="24"
        />
      </a>
      } @else {
      <a
        href="javascript:void(0)"
        class="mr-5 dark:hover:text-white hover:text-gray-900"
        title="Switch to dark mode"
        (click)="setDark()"
      >
        <img
          src="bulb-light-off.svg"
          alt="bulb light off"
          width="24"
          height="24"
        />
      </a>
      }
    </nav>
  </div>
</header>
