<section class="text-gray-400 body-font bg-gray-900">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">
        Portfolio
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        Take a journey through my digital portfolio, where you'll discover a
        curated selection of my most impressive projects, each one telling a
        story of creativity, perseverance, and dedication to excellence. From
        sleek and intuitive user interfaces to robust and scalable backend
        architectures, every project is a testament to my ability to bring ideas
        to life. So, sit back, grab a cup of coffee, and let's dive into the
        world of code, where creativity meets logic and innovation knows no
        bounds. Welcome to my digital playground!
      </p>
    </div>
    <div class="flex flex-wrap">
      @for (demo of demos; track demo) {
      <div
        class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800"
      >
        <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">
          {{ demo.name }}
        </h2>
        <p class="leading-relaxed text-base mb-4">{{ demo.description }}</p>
        <a [href]="demo.url" class="text-green-400 inline-flex items-center"
          >Demo
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 ml-2"
            viewBox="0 0 24 24"
            width="16"
            height="16"
          >
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      }
    </div>
  </div>
</section>
